{% extends "base.html" %} 

{% block title %} Home {% endblock %} 

{% block content %}

<img src="" alt="Emmanuel profile picture" width="500" height="500" />

<h1>Emmanuel Mwendwa</h1>
<p>
  <em><strong> Web Developer </strong></em>
</p>

<p>
  I am a hardworking Web Developer.
Flask, Python, HTML, CSS, JavaScript, PHP
</p>

<h3>Skills</h3>

<table>
    <table>
        <tr>
            <td>Python</td>
            <td>⭐⭐⭐⭐</td>
        </tr>
        <tr>
            <td>HTML</td>
            <td>⭐⭐⭐⭐</td>
        </tr>
    </table>
    <table>
        <tr>
            <td>CSS</td>
            <td>⭐⭐</td>
        </tr>
        <tr>
            <td>PHP</td>
            <td>⭐⭐⭐</td>
        </tr>
    </table>
</table>

<hr size="3" noshade="" />

<h3>Education</h3>
<ul>
  <li><a href="#"> Dedan Kimathi University of Technology </a></li>
  <ul>
    <li>Bs.C. in Computer Science</li>
    <li>Bs.C. in Communication Skills</li>
  </ul>
  <li><a href="#">Udemy Web Development by Angela Yu</a></li>
  <ul>
    <li>Udemy Certification</li>
  </ul>
  <li>A.I.C Chebisaas Boys' High School</li>
  <ul>
    <li>Kenya Certificate of Secondary Education</li>
  </ul>
  <li>Hillside Primary School</li>
</ul>

<hr size="3" noshade="" />

<h3>My Hobbies</h3>
<ul>
  <li>Reading</li>
  <li>Watching</li>
  <li>Learning</li>
</ul>

<hr size="3" noshade="" />

<h3>Experience</h3>

<table cellspacing="10">
    <thead>
        <th>Date</th>
        <th>Company</th>
    </thead>
    <tbody>
        <tr>
            <td>2019 - 2020</td>
            <td>A fictional Company I created</td>
        </tr>
        <tr>
            <td>2021 - 2022</td>
            <td>Another Fictional Company</td>
        </tr>
    </tbody>
</table>

<hr size="3" noshade="" />

{% endblock %}
